In [2]:
import numpy as np

In [3]:
nums = [1,2,3]

In [5]:
type(nums)  # this is list

list

In [9]:
nums = np.array(nums)

In [10]:
nums

array([1, 2, 3])

In [11]:
nums.ndim

1

In [12]:
nums.shape

(3,)

In [13]:
nums.dtype

dtype('int32')

In [6]:
# Command mode se Edit mode me jaane k liye Enter pe click karna hai.

In [7]:
nums1 = [[1, 2, 3],[4, 5, 6]]

In [9]:
nums1 = np.array(nums1)

In [11]:
nums1  # this will be 2-d matrix

array([[1, 2, 3],
       [4, 5, 6]])

In [18]:
nums1.ndim

2

In [12]:
# Lets make a 3-d array i.e tensor(for n-dimensinal array if n > 2 => tensor else if n == 2 => matrix else vector)

In [13]:
nums2 = [[[1, 2, 3], [4, 5, 6]], [[11, 22, 33], [44, 55, 66]]]

In [14]:
nums2 = np.array(nums2)

In [15]:
nums2

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[11, 22, 33],
        [44, 55, 66]]])

In [17]:
type(nums2)  # we can see that its n-d array

numpy.ndarray

In [20]:
nums2.ndim   # output is 3 => its 3 dimensional array

3

In [21]:
# functin called shape() => this will return a tuple i.e (no_rows, no_cols)

In [22]:
# for eg:-
nums2.shape

(2, 2, 3)

In [25]:
nums1.shape  # in nums2 we have 2 rows and 3 columns

(2, 3)

In [29]:
nums1.dtype, nums2.dtype   # both this arrays is storing values of same datatype.

(dtype('int32'), dtype('int32'))

In [26]:
# In numpy array, we can only store array of one datatype.(IMP****)

In [27]:
# for example:

# in python this is correct(i.e in case of list) but in numpy array we can't do this that the reason why numpy array is faster
# ls = [1, 3, 5253, "Rahul", False, 1.2515]
# for i in ls:
#     print(i)

In [30]:
# Also keep this in mind....see below behaviour :-

In [31]:
arr3 = [1, 2, 3.0]

In [32]:
arr3 = np.array(arr3)

In [38]:
arr3  # all the other integer has been converted to floats(precedence: i.e for higher data type)

array([1., 2., 3.])

In [34]:
arr4 = [1, 2, '4.0', 56]

In [35]:
arr4 = np.array(arr4)

In [37]:
arr4  # Now, all the values converted to strings

array(['1', '2', '4.0', '56'], dtype='<U11')