In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('suicide_dataset.csv')

In [3]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [7]:
# Here, we can see that there is data begining from 1987 and so on but we need data from 2010, so to do ?
mask1 = df.year >= 2010
df.loc[mask1]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
36,Albania,1992,male,35-54 years,12,343800,3.49,Albania1992,NaN,"709,452,584",251,Boomers
37,Albania,1992,male,15-24 years,9,263700,3.41,Albania1992,NaN,"709,452,584",251,Generation X
38,Albania,1992,male,55-74 years,5,159500,3.13,Albania1992,NaN,"709,452,584",251,Silent
39,Albania,1992,male,25-34 years,7,245500,2.85,Albania1992,NaN,"709,452,584",251,Boomers
40,Albania,1992,female,15-24 years,7,292400,2.39,Albania1992,NaN,"709,452,584",251,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...
27683,Uzbekistan,2000,female,25-34 years,106,1864696,5.68,Uzbekistan2000,0.594,"13,760,374,488",632,Generation X
27684,Uzbekistan,2000,female,55-74 years,48,896059,5.36,Uzbekistan2000,0.594,"13,760,374,488",632,Silent
27685,Uzbekistan,2000,female,35-54 years,98,2381166,4.12,Uzbekistan2000,0.594,"13,760,374,488",632,Boomers
27686,Uzbekistan,2000,male,5-14 years,57,3279407,1.74,Uzbekistan2000,0.594,"13,760,374,488",632,Millenials
27687,Uzbekistan,2000,female,5-14 years,13,3166259,0.41,Uzbekistan2000,0.594,"13,760,374,488",632,Millenials

In [11]:
# What if we need data between two interval of year, lets create the mask for it:
mask2 = df.year.between(2000, 2010)
df.loc[mask2]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,Albania2000,0.656,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,Albania2000,0.656,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,Albania2000,0.656,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...
27767,Uzbekistan,2010,female,35-54 years,101,3339076,3.02,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation X
27768,Uzbekistan,2010,male,5-14 years,48,2751752,1.74,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z
27769,Uzbekistan,2010,female,75+ years,5,322899,1.55,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27770,Uzbekistan,2010,female,55-74 years,16,1161422,1.38,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27771,Uzbekistan,2010,female,5-14 years,30,2627344,1.14,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z

In [12]:
# What if we just need data of two year ?
mask3 = df.year.isin([2000, 2010])
df.loc[mask3]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,Albania2000,0.656,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,Albania2000,0.656,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,Albania2000,0.656,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...
27767,Uzbekistan,2010,female,35-54 years,101,3339076,3.02,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation X
27768,Uzbekistan,2010,male,5-14 years,48,2751752,1.74,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z
27769,Uzbekistan,2010,female,75+ years,5,322899,1.55,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27770,Uzbekistan,2010,female,55-74 years,16,1161422,1.38,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27771,Uzbekistan,2010,female,5-14 years,30,2627344,1.14,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z

In [14]:
# What if specifically don't need data of 2000, 2010 year:
f_df = df.loc[~mask3]

In [15]:
f_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [16]:
f_df.year.unique()

array([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 1985, 1986,
       1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016], dtype=int64)

### Now, lets do an Exercise: I need a data of suicides b/w year 2010 and 2014 males and females ?

In [23]:
# 2010 - 2014:
# Lets see of place: Switzerland: males | females | suicide data:
Mask1 = df.year.between(2010, 2014)
Mask2 = df.sex == 'female'
Mask3 = df.country == 'Switzerland'
Mask4 = df.age == '15-24 years'
f_df_Switzerland = df.loc[Mask1 & Mask2 & Mask3 & Mask4, ['country', 'year', 'sex', 'age', 'suicides_no']]
# ['country', 'year', 'sex', 'age', 'suicides_no'] implies that this much columns we need in our dataFrame.

In [24]:
f_df_Switzerland

           country  year     sex          age  suicides_no
24915  Switzerland  2010  female  15-24 years           15
24927  Switzerland  2011  female  15-24 years           15
24939  Switzerland  2012  female  15-24 years           10
24951  Switzerland  2013  female  15-24 years           17
24963  Switzerland  2014  female  15-24 years           14

In [25]:
f_df_Switzerland.sum().suicides_no

71