In [1]:
import pandas as pd

In [43]:
# movies_data = pd.read_csv('tmdb_5000_movies.csv') # This will load whole data of the csv file
# What if we need only specific columns then what ? lets see:
movies_data = pd.read_csv('tmdb_5000_movies.csv', usecols = ['runtime', 'genres'])  # this will output only columns asked in usecols.

In [44]:
movies_data

                                                 genres  runtime
0     [{"id": 28, "name": "Action"}, {"id": 12, "nam...    162.0
1     [{"id": 12, "name": "Adventure"}, {"id": 14, "...    169.0
2     [{"id": 28, "name": "Action"}, {"id": 12, "nam...    148.0
3     [{"id": 28, "name": "Action"}, {"id": 80, "nam...    165.0
4     [{"id": 28, "name": "Action"}, {"id": 12, "nam...    132.0
...                                                 ...      ...
4798  [{"id": 28, "name": "Action"}, {"id": 80, "nam...     81.0
4799  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...     85.0
4800  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...    120.0
4801                                                 []     98.0
4802                [{"id": 99, "name": "Documentary"}]     90.0

[4803 rows x 2 columns]

In [49]:
# When we need only one column from the csv file:
movies_data2 = pd.read_csv('tmdb_5000_movies.csv', usecols = ['runtime']) 
movies_data2

      runtime
0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
...       ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0

[4803 rows x 1 columns]

In [51]:
type(movies_data2)  # Even after extracting only one columns its still a DataFrame

pandas.core.frame.DataFrame

In [53]:
# But we can convert this into a Series in this way:
movies_data3 = pd.read_csv('tmdb_5000_movies.csv', usecols = ['runtime'], squeeze = True)
movies_data3

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [55]:
type(movies_data3)  # Now it has converted to series...

pandas.core.series.Series

In [4]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
ser = movies_data['runtime']

In [6]:
ser

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [7]:
type(ser)

pandas.core.series.Series

# Now, we want to create Pandas Series:-

In [29]:
# lets create list:
# We can see that here, we are using python-list but we can use Numpy-array as well
# numpy-array how? ans: for eg=> anime = np.array(['My Hero Academia', 'Death Note', ' ', ' ', etc...]) for using numpy also include numpy library.
anime = ['My Hero Academia', 'Death Note', 'Sword Art Online', 'One punch Man', 'Domestic Girlfriend', 'Yuri on Ice', 'Doremon']
genre = ['shounen', 'shounen', 'Action Adventure', 'action', 'shounen/shoujo', 'sports/josei', 'kodomuke']

In [20]:
# Now we want to create series using this list:
anime_series = pd.Series(anime)  # here, in Series(): Series is the class

In [21]:
anime_series

0       My Hero Academia
1             Death Note
2       Sword Art Online
3          One punch Man
4    Domestic Girlfriend
5            Yuri on Ice
6                Doremon
dtype: object

In [22]:
type(anime_series)

pandas.core.series.Series

In [23]:
# We can also give name to my anime series like this:
anime_series = pd.Series(anime, name = 'anime genre')

In [24]:
anime_series

0       My Hero Academia
1             Death Note
2       Sword Art Online
3          One punch Man
4    Domestic Girlfriend
5            Yuri on Ice
6                Doremon
Name: anime genre, dtype: object

In [25]:
# Now, we want to replace that index number with the corresponding genre for the movies:
# Also keep in mind that there is same number of movies as number of generes

In [26]:
anime_series2 = pd.Series(genre, index = anime, name = 'anime genre')

In [27]:
anime_series2

My Hero Academia                shounen
Death Note                      shounen
Sword Art Online       Action Adventure
One punch Man                    action
Domestic Girlfriend      shounen/shoujo
Yuri on Ice                sports/josei
Doremon                        kodomuke
Name: anime genre, dtype: object

In [32]:
dic = {
    "My Hero Academia"    :            "shounen",
    "Death Note"          :            "shounen",
    "Sword Art Online"    :   "Action Adventure",
    "One punch Man"       :             "action",
    "Domestic Girlfriend" :     "shounen/shoujo",
    "Yuri on Ice"         :       "sports/josei",
    "Doremon"             :           "kodomuke"
}

In [35]:
pd.Series(dic, name = 'anime genre')  # This is how we create series using dictionary.

My Hero Academia                shounen
Death Note                      shounen
Sword Art Online       Action Adventure
One punch Man                    action
Domestic Girlfriend      shounen/shoujo
Yuri on Ice                sports/josei
Doremon                        kodomuke
Name: anime genre, dtype: object

# Tut - 34: How to sort Series ?

In [62]:
dict1 = {
    1 : 'one', 3 : 'three', 2 : 'two', 4 : 'four'
}

In [63]:
ser1 = pd.Series(dict1, name = 'numbers')

In [64]:
ser1  # Here, 1,2,3, 4 is the index and 'one', 'two', 'three', 'four' is the values

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [65]:
# Sorting:
# sort accorind to index:
ser1.sort_index()

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [67]:
ser1.sort_index(ascending = False)  # Now, it will sort it in Descending order

4     four
3    three
2      two
1      one
Name: numbers, dtype: object

In [68]:
ser1

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [69]:
# By looking at the output of ser1, we find that that sort_index() function doesn't sort the actual ser1, its just sort 
#it and show the output

In [70]:
# But what if we want to sort the actual series ?
ser1.sort_index(ascending = True, inplace = True)

In [72]:
ser1  # Now, this also got sorted, this happened becoz of inplace = True

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [73]:
# Now, lets talk about sort_values() : this will sort according to values

In [75]:
ser1.sort_values()  # sort the values according to dictionary order of words/etc.

4     four
1      one
3    three
2      two
Name: numbers, dtype: object

In [76]:
# We can also use the inplace and ascending parameters:
ser1.sort_values(ascending = True, inplace = True)

In [77]:
ser1

4     four
1      one
3    three
2      two
Name: numbers, dtype: object

# Tut - 35: Series to list :-

In [79]:
ser1.tolist()  # this will convert our series to list as shown below:

['four', 'one', 'three', 'two']

In [82]:
ser1.values  # This will convert our series to array as shown below:

array(['four', 'one', 'three', 'two'], dtype=object)

In [84]:
# lets check its type:
type(ser1.values)

numpy.ndarray