In [1]:
# In this we will look those function which is not common in Pandas Series and DataFrame, lets look....

In [2]:
import pandas as pd

In [4]:
movies_data = pd.read_csv('tmdb_5000_movies.csv')

In [5]:
movies_data

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [6]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
# Ab upar k dataFrame me se kisi yek column ko utha lenge to wo hoga apna Series.

In [8]:
# Lets pick runtime from the dataframe which is a column in that:

In [9]:
ser = movies_data['runtime']

In [12]:
ser

0       162.0
1       169.0
2       148.0
3       165.0
4       132.0
        ...
4798     81.0
4799     85.0
4800    120.0
4801     98.0
4802     90.0
Name: runtime, Length: 4803, dtype: float64

In [11]:
type(ser)

pandas.core.series.Series

In [13]:
ser.head()

0    162.0
1    169.0
2    148.0
3    165.0
4    132.0
Name: runtime, dtype: float64

In [15]:
ser.sum()  # it will sum of all the values in runtime

513111.0

In [17]:
ser.size  # it tells ki kitni values hai humare is series me

4803

In [19]:
ser.count()

4801

In [20]:
# But why count() and size gives different values ?
# Becoz, size all consider the NaN or undefined values but cout() doesn't counts the NaN or undefined values

In [22]:
# Now, we can easily find the number of undefined values or missing values or non-representable values in the runtime series:
ser.size - ser.count()

2

In [23]:
# now to find mean, std, etc...

In [25]:
ser.mean()

106.87585919600083

In [29]:
ser.median()  # found median of the series

103.0

In [30]:
ser.std()  # standard deviation

22.611934588844207

In [31]:
ser.min()

0.0

In [33]:
ser.max()  # here, found the maximum runtime

338.0

In [34]:
# Now, lets see method which can be used only in series...

In [36]:
ser.unique()  # it will remove the repetetive values of runtime series.

array([162., 169., 148., 165., 132., 139., 100., 141., 153., 151., 154.,
       106., 149., 143., 150., 136., 144., 140., 161., 113., 187., 194.,
       147., 131., 124., 127., 130., 108., 104., 142., 125., 114., 103.,
       115., 137., 116., 122.,  93.,  98.,  91., 158.,  96., 109., 152.,
        94., 126., 112., 123., 135., 118.,  97., 119., 102., 120., 121.,
       166.,  99., 183., 175., 138., 157.,  92., 101., 111.,  89., 105.,
       107., 129.,  88.,  85., 163., 133.,  95.,  90., 110., 128., 156.,
       117., 146.,  82.,  78., 134., 170.,  76., 178.,  84., 155., 145.,
       180., 172., 167., 201., 179.,  83.,  87.,  80.,  74.,  81., 177.,
        86., 164., 159., 191., 189., 214.,   0.,  75., 192., 160., 219.,
       248., 188., 202., 173., 195.,  77.,  79.,  63., 229., 193., 254.,
        72.,  68., 199., 181., 242., 338.,  73., 216., 276.,  nan, 200.,
        69., 197., 184., 176., 185., 171., 174.,  46.,  53.,  42., 240.,
        41.,  67., 238., 186.,  70.,  14., 225., 207.,  66.,  59.,  25.,
        47.,  64.,  60.])

In [38]:
len(ser.unique())

157

In [37]:
ser.nunique()

156

In [40]:
# Now, why is there a difference b/w the two above ?
# Becoz, unique() method considers nan value also as uniqueness but nunique() doesn't considers that.

In [43]:
# But we can increase the value of ser.nunique(), for this we do this:
ser.nunique(dropna = False)  # by-default its value is turned True to ignore/drop the nan value

157

In [46]:
# But this unique() doesn't apply to a dataFrame: Hence, we get the error.. Thus, this unique method is used with series only.
movies_data.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [53]:
movies_data.value_counts()  # this has to throw error,but hasn't thrown why ?

budget     genres                                                                                                                                                    homepage                                                           id      keywords                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        original_language  original_title                               overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           popularity  production_companies                                                                                                                                                                                                        production_countries                                                                                        release_date  revenue     runtime  spoken_languages                                                                                                                                              status    tagline                                                       title                                        vote_average  vote_count
0          []                                                                                                                                                        http://mutualfriendsmovie.com/                                     198370  []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              en                 Mutual Friends                               Surprise parties rarely go well. This one is no different, as a group of 30-somethings head through life, love and a day in New York City.                                                                                                                                                                                                                                                                                                                                                                         0.136721    []                                                                                                                                                                                                                          []                                                                                                          2014-04-15    0           0.0      [{"iso_639_1": "en", "name": "English"}]                                                                                                                      Released  Surprise parties rarely go well.                              Mutual Friends                               0.0           0             1
50000000   [{"id": 10752, "name": "War"}, {"id": 28, "name": "Action"}, {"id": 18, "name": "Drama"}, {"id": 36, "name": "History"}, {"id": 53, "name": "Thriller"}]  http://stxmovies.com/freestateofjones/                             316152  [{"id": 2831, "name": "slavery"}, {"id": 179585, "name": "american civil war"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 en                 Free State of Jones                          In 1863, Mississippi farmer Newt Knight serves as a medic for the Confederate Army. Opposed to slavery, Knight would rather help the wounded than fight the Union. After his nephew dies in battle, Newt returns home to Jones County to safeguard his family but is soon branded an outlaw deserter. Forced to flee, he finds refuge with a group of runaway slaves hiding out in the swamps. Forging an alliance with the slaves and other farmers, Knight leads a rebellion that would forever change history.  21.589393   [{"name": "Larger Than Life Productions", "id": 1163}, {"name": "Vendian Entertainment", "id": 50481}, {"name": "Route One Films", "id": 50482}]                                                                            [{"iso_3166_1": "US", "name": "United States of America"}]                                                  2016-06-24    25035950    139.0    [{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "de", "name": "Deutsch"}]                                                                              Released  Based on the incredible true story.                           Free State of Jones                          6.6           428           1
           [{"id": 18, "name": "Drama"}, {"id": 14, "name": "Fantasy"}]                                                                                              http://hereafter.warnerbros.com/                                   44603   []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              en                 Hereafter                                    A supernatural thriller centered on three people -- a blue-collar American, a French journalist and a London school boy -- who are touched by death in different ways.                                                                                                                                                                                                                                                                                                                                             13.365715   [{"name": "Amblin Entertainment", "id": 56}, {"name": "Malpaso Productions", "id": 171}, {"name": "Warner Bros.", "id": 6194}, {"name": "Kennedy/Marshall Company, The", "id": 7383}]                                       [{"iso_3166_1": "US", "name": "United States of America"}]                                                  2010-10-15    105197635   129.0    [{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "fr", "name": "Fran\u00e7ais"}]                                                                        Released  Touched by death. Changed by life.                            Hereafter                                    5.8           510           1
           [{"id": 18, "name": "Drama"}, {"id": 10749, "name": "Romance"}, {"id": 35, "name": "Comedy"}]                                                             http://www.miramax.com/shallwedance/                               4380    [{"id": 931, "name": "jealousy"}, {"id": 1157, "name": "wife husband relationship"}, {"id": 1342, "name": "dancing master"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    en                 Shall We Dance?                              Upon first sight of a beautiful instructor, a bored and overworked estate lawyer signs up for ballroom dancing lessons.                                                                                                                                                                                                                                                                                                                                                                                            14.231899   [{"name": "Miramax Films", "id": 14}]                                                                                                                                                                                       [{"iso_3166_1": "US", "name": "United States of America"}]                                                  2004-10-15    170128460   107.0    [{"iso_639_1": "en", "name": "English"}]                                                                                                                      Released  Step out of the ordinary                                      Shall We Dance?                              5.9           297           1
           [{"id": 14, "name": "Fantasy"}, {"id": 53, "name": "Thriller"}, {"id": 28, "name": "Action"}, {"id": 80, "name": "Crime"}]                                http://www.driveangry3d.com/                                       47327   [{"id": 4479, "name": "bone"}, {"id": 41019, "name": "car explosion"}, {"id": 159631, "name": "premarital sex"}, {"id": 163055, "name": "satanic cult"}, {"id": 172345, "name": "driver's license"}, {"id": 172353, "name": "finger gun"}, {"id": 172354, "name": "backhand slap"}, {"id": 172357, "name": "car jump"}, {"id": 172364, "name": "man punching a woman"}, {"id": 172365, "name": "magic trick"}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  en                 Drive Angry                                  Milton is a hardened felon who has broken out of Hell, intent on finding the vicious cult who brutally murdered his daughter and kidnapped her baby. He joins forces with Piper, a sexy, tough-as-nails waitress with a 69 Charger, who's also seeking redemption of her own. Caught in a deadly race against time, Milton has three days to avoid capture, avenge his daughter's death, and save her baby before she's mercilessly sacrificed by the cult.                                                        30.387148   [{"name": "Summit Entertainment", "id": 491}, {"name": "Saturn Films", "id": 831}, {"name": "Nu Image Films", "id": 925}, {"name": "Millennium Films", "id": 10254}, {"name": "Michael De Luca Productions", "id": 11370}]  [{"iso_3166_1": "US", "name": "United States of America"}]                                                  2011-02-24    28931401    105.0    [{"iso_639_1": "en", "name": "English"}]                                                                                                                      Released  One hell of a ride.                                           Drive Angry                                  5.3           600           1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
14000000   [{"id": 18, "name": "Drama"}, {"id": 10749, "name": "Romance"}]                                                                                           http://www.brokebackmountain.com                                   142     [{"id": 237, "name": "gay"}, {"id": 548, "name": "countryside"}, {"id": 1013, "name": "homophobia"}, {"id": 1014, "name": "loss of lover"}, {"id": 1016, "name": "wyoming"}, {"id": 1019, "name": "rodeo"}, {"id": 2123, "name": "father murder"}, {"id": 2284, "name": "horseback riding"}, {"id": 3010, "name": "intolerance"}, {"id": 5600, "name": "daughter"}, {"id": 5809, "name": "marriage crisis"}, {"id": 7879, "name": "secret love"}, {"id": 155291, "name": "cowboy"}, {"id": 165086, "name": "star crossed lovers"}]                                                                                                                                                                                                                                                                                                                                                                                                                                              en                 Brokeback Mountain                           Brokeback Mountain is an Ang Lee film about two modern day cowboys who meet on a shepherding job in the summer of â€™63. The two share a raw and powerful summer together that turns into a life long relationship conflicting with the lives they are supposed to live.                                                                                                                                                                                                                                             44.135568   [{"name": "River Road Entertainment", "id": 1246}, {"name": "Alberta Film Entertainment", "id": 3997}, {"name": "Focus Features", "id": 10146}, {"name": "Good Machine", "id": 10565}]                                      [{"iso_3166_1": "CA", "name": "Canada"}, {"iso_3166_1": "US", "name": "United States of America"}]          2005-09-02    178043761   134.0    [{"iso_639_1": "en", "name": "English"}]                                                                                                                      Released  Love is a force of nature.                                    Brokeback Mountain                           7.5           1480          1

In [52]:
movies_data.nunique()  # here, we are not getting error, so it can be used here.

budget                   436
genres                  1175
homepage                1691
id                      4803
keywords                4222
original_language         37
original_title          4801
overview                4800
popularity              4802
production_companies    3697
production_countries     469
release_date            3280
revenue                 3297
runtime                  156
spoken_languages         544
status                     3
tagline                 3944
title                   4800
vote_average              71
vote_count              1609
dtype: int64

In [56]:
# this gives output in Descending order as shown below:
ser.value_counts()  # its tell ki there are 163 movies whose runtime is 90 minutes...similarly others...

90.0     163
100.0    149
98.0     140
97.0     133
95.0     123
        ...
59.0       1
60.0       1
63.0       1
194.0      1
219.0      1
Name: runtime, Length: 156, dtype: int64

In [58]:
ser.value_counts(ascending = True)  # Now, its got sorted in ascending order

59.0       1
14.0       1
201.0      1
202.0      1
25.0       1
        ...
95.0     123
97.0     133
98.0     140
100.0    149
90.0     163
Name: runtime, Length: 156, dtype: int64

In [63]:
ser.value_counts(ascending = False , bins = 3)  # bins here is to create 3 intervals of runtime and corresponding #movies
# i.e from -0.339 minutes to 112.667 minutes there are 3245 movies. 
# also ( this bracket implies its not included and ] this implies its icluded (just like in maths)

(-0.339, 112.667]     3245
(112.667, 225.333]    1548
(225.333, 338.0]         8
Name: runtime, dtype: int64

In [64]:
# similarly we can do the same for 5 intervals:
ser.value_counts(ascending = False, bins = 5)

(67.6, 135.2]     4365
(135.2, 202.8]     375
(-0.339, 67.6]      48
(202.8, 270.4]      11
(270.4, 338.0]       2
Name: runtime, dtype: int64